{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

</head>
<body>
<aside>
    <img src="{% static 'main/img/img.png' %}" alt="maserati">
    <span class="logo">Logo</span>
    <h3>Навигации</h3>
    <a href="{% url 'home' %}"><i class="fas fa-home"></i> Main</a>
    <a href="{% url 'about' %}"><i class="fas fa-smile"></i> About us</a>
    <a href="{% url 'news_home' %}"><i class="far fa-newspaper"></i> News</a>
    <a href=""><i class="fab fa-telegram-plane"></i> Contacts</a>
    <a href="{% url 'create' %}"><button class="btn btn-info"><i class="fas fa-plus-circle"></i> Добавить запись</button></a>

</aside>
<main>
{% block content %}
{% endblock %}
</main>

</body>
</html>